/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end reset */


/* begin styling */

section {
	width: 1000px;
	margin: auto;
	background-color: #d7c9de;
	padding: 0px;
}

body {
	background-color: #d7c9de;
	font-family: 'Proza Libre', sans-serif;
	color: #24072c;
}

header {
	background: #95849f;
	background: linear-gradient(to right, #d7c9de, #95849f, #d7c9de);
	font-family: 'Tangerine', cursive;
	color: #dedede;
	font-size: 100px;
	width: 1000;
	padding-top: 60px;
	padding-bottom: 40px;
}

header a {
	color: #dedede;
}

header a img {
	vertical-align: middle;
}

nav{
	background-color: #95849f;
	padding: 0px;
	width: 1000px;
}

h1 {
	font-size: 70px;
	text-align: center;
}

a {
	text-decoration: none;
	color: #24072c;
}

nav ul {
	background-color: #95849f;
}

nav li {
	float: left;
}

nav li a {
	background-color: #95849f;
	display: block;
	text-align: center;
	padding: 15px;
	width: 170px
}

nav li a:hover {
	background-color: #907e9a;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 12px;
}

main {
	margin-top: 100px;
}

main ul li {
	margin-left: 150px;
}

main ul li a h2 {
	display: inline-block;
	height: 120px;
	vertical-align: middle;
}

article {
	margin-top: 125px;
	margin-bottom: 100px;
	margin-right: 50px;
	margin-left: 50px;
	padding-right: 100px;
	padding-left: 100px;
	border-left: solid #95849f 5px;
	border-right: solid #95849f 5px;
}

p {
	text-indent: 50px;
	margin-bottom: 15px;
	font-size: 17px;
	line-height: 30px;
}

footer a {
	background-color: #95849f;
  display: block;
  text-align: center;
  padding: 15px;
  width: 1000px
}

footer a:hover {
	background-color: #907e9a;
}
