body {
  width: 800px;
  margin: auto;
  background-color: #a4b6c4;
}

ul {
  font-family: 'Nova Flat', cursive;
  list-style: none;
}

a {
  text-decoration: none;
  color: #a4b6c4;
}

nav {
  width: 600px;
}

nav li {
  display: inline-block;
  width: 100px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  margin: 20px;
  background-color: #31392c;
}

h6 {
  padding-right: 20px;
  padding-left: 20px;
  display: inline-block;
  font-family: Arial;
  color: #31392c;
}

footer a {
  font-family: Arial;
  color: #31392c;
}

footer {
  width: 350px;
  float: right;
  border: solid #e9f1f3 2px;
  margin-right: 100px;
  margin-top: 50px;
}
