body, a {
  background-color: #233330;
  color: #c0bfbe;
  list-style: none;
  text-decoration: none;
}

nav a {
  color: #737373;
}

nav a:hover {
  color: #c0bfbe;
}

footer a:hover {
  color: #737373;
}


header, section, footer {
  width: 75%;
}

header div {
  display: inline-block;
  width: 75%;
  margin-left: 5%;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 25px;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 50px;
}

header img {
  display: inline-block;
  width: 10%;
  float: right;
  margin-right: 5%;
}

section {
  display: block;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 70%
}

section img {
  display: inline-block;
  width: 45%;
}

article {
  display: inline-block;
  width: 50%;
  float: right;
}

h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: normal;
  font-size: 20px;
  margin: 0px;
  padding: 0px;
}

p {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: normal;
  font-size: 15px;
}

#piece p {
  padding-bottom: 40px;
}

nav {
  width: 15%;
  position: fixed;
  top: 0%;
  bottom: 0%;
  right: 0%;
  padding-right: 2%;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  padding-top: 40px;
  margin: 10px;
}

h4 {
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  margin: 10px;
}

nav p {
  font-size: 12px;
  margin: 10px;
  padding-bottom: 10px;
}

footer h4 {
  display: inline-block;
  padding: 10px;
  margin-left: 6%;
  margin-right: 6%;
}



@media (max-width: 1280px) {
  section img {
    display: block;
    width: 100%;
    margin: auto;
  }

  article {
    display: block;
    width: 100%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 13px;
  }

  nav p {
    font-size: 12px;
    margin: 10px;
    padding-bottom: 10px;
  }

  footer {
    display: block;
    width: 100%;
  }

  footer h4 {
    display: inline-block;
    font-size: 12px;
    padding: 10px;
    margin-left: 3%;
    margin-right: 3%;
  }

}

@media (max-width: 900px) {
  header, section {
    width: 90%;
    margin: auto;
    padding: 0px;
  }

  header div {
    margin: 0px;
  }

  nav {
    width: 40%;
    margin: auto;
    position: static;
    margin-bottom: 50px;
  }

  footer {
    width: 350px;
    margin: auto;
  }

  footer h4 {
    display: inline-block;
    font-size: 11px;
    padding: 8px;
    margin-left: 5px;
    margin-right: 5px;
  }

  h1 {
    font-size: 15px;
  }

  h2 {
    font-size: 12px;
  }

  h6 {
    font-size: 15px;
  }

  section p {
    font-size: 12px;
  }
}
