body {
  background-color: aliceblue;
  font-family: helvetica;
  color: seagreen;
}

img {
  position: fixed;
  left: 100px;
  top: 5px;
}

header {
  position: absolute;
  left: 200px;
  top: 0px;
  font-size: 30px;
}

a{
  text-decoration: none;
  color: inherit;
}

ul {
  position: absolute;
  left: 163px;
  top: 150px;
  list-style: none;
}

li {
  margin-top: 20px;
  font-size: 25px;
}

footer {
  position: absolute;
  right: 100px;
  bottom: 40px;
  text-align: right;
}
